html, body {
    background-color: #fff;
    color: #000;
    font-family: 'Lato', 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

*{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.header{
  z-index: 5;
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  padding: 15px 20px 0px 20px;
vertical-align: top;
  justify-content: space-between;
}

.header img.logo{
  width: 50px;
  display: inline-block;
}

.header ul{
  margin: 0px;
  margin-top: 5px;
  float: right;
  padding: 0px;
  display: inline-block;
  background-color: #000;
  /*padding: 10px;*/
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

.header ul li:first-of-type{
  background-color: #e43719;
}

.header ul li{
  display: inline-block;
  list-style: none;
  font-size: 14px;
  padding: 10px 15px;
  color: #fff;
}

.header ul li a{
  text-decoration: none;
  color: #fff;
}

.content {
    text-align: center;
    height: 76%;
    position: relative;
    z-index: 4;
    max-width: 1080px;
    margin: 20px auto 0px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.content .details{
  width: calc(60% - 50px);
  height: calc(100% - 60px);
  margin-right: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 4px solid rgba(255, 255, 255, 0.9);
  border-bottom: 4px solid rgba(255, 255, 255, 0.9);
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
}

.content .details:hover .title{
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
}

.content .box_cover{
  width: 28%;
  position: relative;
}

.content .box_cover .okezi{
  position: absolute;
  right: -40px;
  top:60px;
  width: 110%;
  height: 450px;
  background-image: url('../images/_MD05688.JPG');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
  border-radius:35px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.content .box_header{
  font-weight: bold;
  font-size: 20px;
}

.content .box{
  width: 72%;
  line-height: 1.8;
  text-align: left;
  color: #fff;
  padding: 25px 30px 30px 60px;
  border-radius:35px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #5f7801;
  margin-bottom: 50px;
}

.preamble{
  flex-grow: 1;
}

.date{
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #fff;
}


.content .cover{
  width: 40%;
  height: 100%;
  background-image: url('../images/_MD05688.JPG');
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
}

.title > a{
  color: #fff;
  text-decoration: none;
}

.title {
    font-size: 40px;
    color: #fff;
    text-align: left;
    font-family: 'Passion One', cursive;
}

.links > a {
    color: #ffff;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.banner.ng-bg{
  background-image: none;
}

.banner{
  height: 100%;
  background-image: url('../images/md05755_large.jpg');
  background-size: cover;
  background-position: center
  position: relative;
  width: 100%;
}


.banner .overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  content: '';
  display: flex;
  /*background-color: #270000;#720606;#6f0606*/


  z-index: 3;
}

.banner .overlay .first{
  width: 65%;
  background-color: #5f7801;
  height: 100%;
  opacity: 0.9;
}

.banner .overlay .second{
  width: 35%;
  background-color: #bbb;
  height: 100%;
  opacity: 0.7;
}
